blinker==1.9.0
cachelib==0.13.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Flask==3.1.0
Flask-Excel==0.0.7
Flask-Session==0.8.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
lml==0.1.0
MarkupSafe==3.0.2
msgspec==0.19.0
mysql-connector==2.2.9
mysql-connector-python==9.1.0
pyexcel==0.7.1
pyexcel-io==0.6.7
pyexcel-webio==0.1.4
razorpay==1.4.2
requests==2.32.3
texttable==1.7.0
urllib3==2.3.0
Werkzeug==3.1.3
